[Desktop Entry]
Name=Rice

X-KDE-PluginInfo-Author=Eugene G.
X-KDE-PluginInfo-Email=easymodofrf@gmail.com
X-KDE-PluginInfo-Name=Rice
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=CCPL:by-sa
X-KDE-PluginInfo-EnabledByDefault=true

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7
